
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
allure-results/
allure-report/
reports/
screenshots/
videos/
trace/
allure-report/data/behaviors.json
allure-report/data/behaviors.json
allure-report/data/categories.csv
allure-report/data/categories.json
allure-report/data/packages.json
allure-report/data/suites.csv
allure-report/data/suites.json
allure-report/data/timeline.json
