
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
allure-results/
allure-report/
allure-report/data/
allure-report/export/
allure-report/history/
allure-report/widgets/
allure-report/index.html
reports/
screenshots/
videos/
trace/
